/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of Eric Meyer's reset *

/* my own site styles */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #F1F2F2;
	margin-left: 40px;
}
h1 {
	font-size: 45px;
	text-align: center;
	margin-left: 0;
	padding: 40px 0;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 10px;
}
h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 15px 0;
}
input {
	display: inline;
	margin: 0 8px;
}
a {
	text-decoration: none;
	width: 180px;
	background-color: #000000;
	display: block;
	border: none;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
	margin: 0 auto;
}
a:hover {
	background-color: #0787C4;
}
form {
	padding-bottom: 60px;
}

p {
	margin: 0;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
}

section {
	padding-bottom: 60px;
}

.hidden {
	display: none;
}

.unhidden {
	display: block;
}